body {
    font-family: "Helivicta", sans-serif; /* Use "Helivicta" font. If unavailable, fallback to sans-serif */
  }

  .application-pages-container {
    width: 100%;
    
}

.application-container{

    justify-content: space-between; /* Push header to top and footer to bottom */
    display: flex;
    flex-direction: column;
}

select {
    
    border-radius: 5PX;
}

.errorMsg {

    color: red;
}


/* -------------------------------
        Application Header
    ------------------------------*/

.app-header-container {
    
    display: flex;
    justify-content: center;
    width: 100%;
    
    
}

.header-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    height: 100px;
    position: fixed;
    margin: 0 auto;
    z-index: 999;
    background-color: black;

    padding:  0;

}

.logo-container {

    align-items: center;
    display: flex;
    justify-content: flex-start;

}

.header-logo {
    padding: 0 5%;
    width: 50%;
}

/* Navi Menu */

.nav-menu-container {
    
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.nav-menu-links-container {
    
    width: 100px;
    height: 80%;
    display: flex;
    margin: auto;
}

.nav-menu-links {

    text-align: center;
    justify-content: center;
    margin:  auto 0;
    width: 200px;
    height: 50%;
    text-decoration: none;
    font-size: 20px;
    color: white;

}

.nav-menu-links:hover {
    color: grey;

}

/* Hamburger Icon */
.hamburger-icon {
    display: none; /* Hide by default */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;

}

/* Mobile Nav Menu */
.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    position: absolute;
    top: 100%; /* Adjust according to your header height */
    right: 0;
    left: 0;
}

/* Mobile Styles */

/* Iphone 14 Pro Max*/

@media only screen and (max-width: 450px) {
    /* Your mobile-specific CSS rules here */

    .header-container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 98%;
        height: 60px;
        position: fixed;
        margin: 0 auto;
        z-index: 999;
        background-color: black;
    
        padding:  0;
    
    }

    .mobile-nav-menu {

        display: flex;
        justify-content: space-between;
        background-color: white;
        left: 55%;
        height: 30vh;
    }

    .nav-menu-links {
        
        display: flex;
        text-align: center;
        align-items: center;
        background-color: lightgrey;
        justify-content: center;
        margin:  auto 0;
        width: 200px;
        height: 50px;
        text-decoration: none;
        font-size: 20px;
        color: black;
    }

    .hamburger-icon {

        display: block;
        padding: 0 5%;
        align-items: center;
        margin: auto 0;
        
    }



    .nav-menu-container {
        display: none; /* Hide the regular nav menu */
    }

  }

  /* Small - Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 850px) {
    /* Your tablet-specific CSS rules here */
    .header-container {

        
        
    }

    .mobile-nav-menu {

        display: flex;
        justify-content: space-between;
        background-color: white;
        left: 75%;
        height: 30vh;
        border-bottom-left-radius: 20px;
    }

    .nav-menu-links {
        
        display: flex;
        text-align: center;
        align-items: center;
        background-color: lightgrey;
        justify-content: center;
        margin:  auto 0;
        width: 200px;
        height: 50px;
        text-decoration: none;
        font-size: 20px;
        color: black;
    }

    .hamburger-icon {
        
        display: block;
        align-items: center;
        margin: auto 0;
        
    }



    .nav-menu-container {
        display: none; /* Hide the regular nav menu */
    }
  }

  /*  Desktops Styles */
@media only screen and (min-width: 851px) and (max-width: 1750px) {

    .header-logo {
        padding: 5% ;
        width: 50%;
    }

    .nav-menu-links {

        text-align: center;
        justify-content: center;
        margin:  auto 0;
        width: 200px;
        height: 50%;
        text-decoration: none;
        font-size: 30px;
        color: white;
    
    }


}

/* End of Application Header */


/*-------------------------------------------
            Home Page Container 
--------------------------------------------*/

.home-page-container {
    width: 100%;
}

/* Hero Section */

.hero-image-container {
    width: 100%;
}

.hero-image {
    width: 100%;

}

.hero-image-shop-container {
    
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff; /* Text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    width: 500px;
    height: 300px;
    
}

.hero-image-shop-container p {
    font-size: 50px;
}


.shop-now-button {

    display: flex;
    width: 100px;
    justify-content: center;
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 10px;
    
}

/* Mobile Styles */

/* Iphone 14 Pro Max*/

@media only screen and (max-width: 450px) {
    /* Your mobile-specific CSS rules here */

    .hero-image-shop-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        letter-spacing: 1px;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: #fff; /* Text color */
        padding: 10px 20px;
        border: none;
        border-radius: 5px; /* Rounded corners */
        cursor: pointer;
        width: 200px;
        height: 100px;

    }

    .hero-image-shop-container p{

        font-size: 20px;
    
    }
    

  }

  /* Small - Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 850px) {
    /* Your tablet-specific CSS rules here */

    .hero-image-shop-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        letter-spacing: 1px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: #fff; /* Text color */
        padding: 10px 20px;
        border: none;
        border-radius: 5px; /* Rounded corners */
        cursor: pointer;
        width: 400px;
        height: 200px;

    }

    .hero-image-shop-container p{

        font-size: 40px;
    
    }
    


  }

  /* Large Tablets and Small Desktops Styles */
@media only screen and (min-width: 851px) and (max-width: 1301px) {
    /* Your tablet-specific CSS rules here */

    .hero-image-shop-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        letter-spacing: 1px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: #fff; /* Text color */
        padding: 10px 20px;
        border: none;
        border-radius: 5px; /* Rounded corners */
        cursor: pointer;
        width: 400px;
        height: 200px;

    }

    .hero-image-shop-container p{

        font-size: 40px;
    
    }
    


  }

  /*  Desktops Styles */
@media only screen and (min-width: 1302px) and (max-width: 1750px) {
    /* Your tablet-specific CSS rules here */

    .hero-image-shop-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        letter-spacing: 1px;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: #fff; /* Text color */
        padding: 10px 20px;
        border: none;
        border-radius: 5px; /* Rounded corners */
        cursor: pointer;
        width: 800px;
        height: 600px;

    }

    .hero-image-shop-container p{

        font-size: 60px;
    
    }

    .hero-image-shop-container :link{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 40px;
        justify-content: center;
        border-radius: 10px;
        color: white;
        border: 1px solid white;
        text-decoration: none;
        padding: 10px;

        font-size: 20px;
    
    } 

   
    


  }


  
  

/*-----------------------------------------------
            Summer/winter collection
--------------------------------------------------*/

.collection-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    justify-content: center;
}


.collection-image {
    width: 99%;
    height: 600px;

}

.collection-image-container {
    position: relative; /* Ensure that child absolute positioning is relative to this container */
    width: 100%;
}

.collection-shop-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    top: 60%; /* Position it vertically at the center of the parent container */
    left: 50%; /* Position it horizontally at the center of the parent container */
    transform: translate(-50%, -50%); /* Center it precisely */
    z-index: 4; /* Ensure it's on top of other elements */
    color: #fff; /* Text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    width: 400px;
    height: 200px;
}

.collection-shop-container p {
    font-size: 30px;
}


.shop-now-button {

    display: flex;
    width: 100px;
    justify-content: center;
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 10px;
    
}

/* Mobile Styles */

/* Iphone 14 Pro Max*/

@media only screen and (max-width: 450px) {
    /* Your mobile-specific CSS rules here */

    .collection-image {

        width: 99%;
        height: 250px;
    
    }

    .collection-shop-container {

        display: none;

    }
    
    

}

/* Small - Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 850px) {
    /* Your tablet-specific CSS rules here */

    .collection-image {

        width: 99%;
        height: 500px;
    
    }

    .collection-shop-container {

        display: none;

    }
    


  }

  /*  Desktops Styles */
@media only screen and (min-width: 851px) and (max-width: 1750px) {
    /* Your tablet-specific CSS rules here */ 

    .collection-image {

        width: 99%;
        height: 800px;
    
    }

    .collection-shop-container {

        width: 90%;



    }

    .collection-shop-container :link {

        width: 150px;
        height: 30px;
        align-items: center;
        font-size: 20px;



    }

    .collection-shop-container p{

        font-size: 30px;



    }
    

}




/*------------------------------------
        Form contianer 
-----------------------------------------*/

.form-container {
    position: relative;
    width: 100%;
}



.form-hero-image {
    position: relative; /* Change to relative */
    width: 100%;
}




.form {

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 30%;
    font-size: 21px;
    top: 50%; /* Position from the top 50% */
    left: 50%; /* Position from the left 50% */
    transform: translate(-50%, -50%); /* Center the form */
    background-color: rgba(255, 255, 255, 0.8); /* Add a background color with opacity */
    padding: 20px;
    border-radius: 10px;
    text-align: center; /* Center text horizontally */
}

.form-button-join {

    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 25px;
    padding: 2;
}

/* Mobile Styles */

/* Iphone 14 Pro Max*/

@media only screen and (max-width: 450px) {

    .form-hero-image {
        position: relative; /* Change to relative */
        width: 100%;
        height: 700px;
    }

    .form {

        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        height: 70%;
        font-size: 21px;
        top: 50%; /* Position from the top 50% */
        left: 50%; /* Position from the left 50% */
        transform: translate(-50%, -50%); /* Center the form */
        background-color: rgba(255, 255, 255, 0.8); /* Add a background color with opacity */
        padding: 20px;
        border-radius: 10px;
        text-align: center; /* Center text horizontally */
    }

    .form label {

        font-size: 20px;
    }


}

/* Small - Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 850px) {
    /* Your tablet-specific CSS rules here */

    .form-hero-image {
        position: relative; /* Change to relative */
        width: 100%;
        height: 700px;
    }

    .form {

        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 60%;
        height: 70%;
        font-size: 21px;
        top: 50%; /* Position from the top 50% */
        left: 50%; /* Position from the left 50% */
        transform: translate(-50%, -50%); /* Center the form */
        background-color: rgba(255, 255, 255, 0.8); /* Add a background color with opacity */
        padding: 20px;
        border-radius: 10px;
        text-align: center; /* Center text horizontally */
    }

    .form label {

        font-size: 20px;
    }


}

/*  Desktops Styles */
@media only screen and (min-width: 851px) and (max-width: 1750px) {
    /* Your tablet-specific CSS rules here */ 

    .form-hero-image {
        position: relative; /* Change to relative */
        width: 100%;
        height: 1200px;
    }

    .form {

        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 60%;
        height: 70%;
        font-size: 30px;
        top: 50%; /* Position from the top 50% */
        left: 50%; /* Position from the left 50% */
        transform: translate(-50%, -50%); /* Center the form */
        background-color: rgba(255, 255, 255, 0.8); /* Add a background color with opacity */
        padding: 20px;
        border-radius: 10px;
        text-align: center; /* Center text horizontally */
    }

    .form label {

        font-size: 30px;
    }

    .form-button-join {

        background-color: black;
        color: white;
        border: none;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        padding: 2;
        font-size: 20px;
    }

    .form-email-input {

        width: 300px;
        height: 50px;
        border-radius: 5px;
        border: none;
        margin: 0 10px  ;
        font-size: 20px;
        
    }
    


}

/*------------------------------------------
                    Shop 
    -------------------------------------*/

    .shop-page-container {
        display: flex;
        flex-direction: column;
        padding: 10% 0;
    }

    .catalogue-container {

        display: flex;
        flex-direction: column; 
        width: 100%;
    }
    
    .catalogue-header-container {
    
        
        text-align: center;
    }
    
    .catalgue-products-container {
    
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
        margin: 0 auto;
    }
    /* Product */
    
    .product-form-container{
    
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .form-element{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .form-element-label {

        padding: 10px 0;
    }

    .form-element-button-container {

        padding: 20px 0;
    }
    .product-image {
    
        width: 250px;
        height: 300px;
    }
    
    .product-shop-button {
        display: flex;
        width: 120px;
        height: 40px;
        background-color: black;
        justify-content:center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        border: 1px solid black;
        text-decoration: none;
        color: white;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, and color */
        transition: transform 0.1s ease; /* Smooth */
        border: none;
    }

    .product-shop-button:hover {

        background-color: lightgray;
        color: black;


    }

    .product-shop-button:active {

        transform: scale(1.1); /* Scales up the button to 110% of its original size */


    }

    /* Mobile Styles */

/* Iphone 14 Pro Max*/

@media only screen and (max-width: 450px) {
    /* Your mobile-specific CSS rules here */

    .catalgue-products-container {
    
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: space-between;
        margin: 0 auto;
    }

}

/* Small - Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 850px) {
    /* Your tablet-specific CSS rules here */

    .catalgue-products-container {
    
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: space-between;
        margin: 0 auto;
    }
}

/*  Desktops Styles */
@media only screen and (min-width: 851px) and (max-width: 1750px) {
    /* Your tablet-specific CSS rules here */
    
    .catalogue-header-container {
    
        text-align: center;
    }

    .catalogue-header-elements p{
    
        font-size: 30px;
        text-align: center;
    }

    .catalogue-header-elements h1{
    
        font-size: 50px;
        text-align: center;
    }


    .catalgue-products-container {
    
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
        margin: 0 auto;
    }

    .product-form-container{
    
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    
    }

    .form-element{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .form-element h3{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 30px;
        
    }

    .form-element p{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 20px;
        
    }

    .form-element-label {

        padding: 10px 0;
        font-size: 20px;
    }

    .form-element select {

        width: 150px;
        height: 40px;
        font-size: 15px;
    }

    .product-shop-button {

        display: flex;
        width: 150px;
        height: 40px;
        background-color: black;
        justify-content:center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        border: 1px solid black;
        text-decoration: none;
        color: white;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, and color */
        transition: transform 0.1s ease; /* Smooth */
        border: none;

        font-size: 20px;

    }


    

}

    /*--------------------------------------------
                    cart
    ---------------------------------------------*/

    .cart-main-container {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        

    }

    .cart-container {

        display: flex;
        flex-direction: column;
        width: 75%;
        height: 90%;
        padding: 10% 0;
        margin: auto;
    }

    .cart-header-container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }

    .cart-header {

        padding: 0 2%;
    }

    .cart-button-container {

        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .cart-button-checkout {

        background-color: black;
        color: white;
        border: none;
        border-radius: 5px;
        height: 50px;
        width: 100px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, and color */
        transition: transform 0.1s ease; 
    }

    .cart-button-checkout:active {

        transform: scale(1.1); /* Scales up the button to 110% of its original size */


    }

    .cart-button-clear {

        background-color: lightgrey;
        color : black;
        border: none;
        border-radius: 5px;
        height: 50px;
        width: 100px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, and color */
        transition: transform 0.1s ease; 
    }

    .cart-button-clear:active {

        transform: scale(1.1); /* Scales up the button to 110% of its original size */

    }

    
    /* ---------------------- User Product List -------------------------------*/

    .cart-customer-product-container {

        background-color: rgb(237, 237, 237);
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 210px;
        justify-content: space-evenly;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        align-items: center;
        

    }

    .cart-customer-product-name-container {

        padding: 0 2%;
    }
    .button-remove-item {

        background-color: rgb(0, 0, 0);
        color: white;
        border: none;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, and color */
        transition: transform 0.1s ease; /* Smooth */
    }

    .button-remove-item:hover {
        
        background-color: lightgrey;
        color: black;
        
    }

    .button-remove-item:active {
        transform: scale(1.1); /* Scales up the button to 110% of its original size */
    }

    
    .cart-customer-total-container {

        border-top: 1px solid black;
    }



    .cart-product-image {

        width: 200px;
        height: 200px;
    }

    /* Mobile Styles */

/* Iphone 14 Pro Max*/

@media only screen and (max-width: 450px) {
    /* Your mobile-specific CSS rules here */
    .cart-header-container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid black;
        width: 100%;
        align-items: center;
        margin: 0 auto;
    }

    .cart-header {
        
        align-items: center;
        padding: 0;
        width: 50%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .cart-header h1 {

        font-size: 20px;
    }

    .cart-header img {

        width: 60px;
        height: 60px;
    }

    
    .cart-customer-product-container {

        background-color: lightgray;
        display: flex;
        flex-direction: row;
        width: 90%;
        overflow: scroll ;
        justify-content: space-evenly;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        align-items: center;
        
    }

    


}

/* Small - Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 850px) {

    .cart-header-container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid black;
        width: 100%;
        align-items: center;
        margin: 0 auto;
    }

    .cart-header {
        
        align-items: center;
        padding: 0;
        width: 50%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .cart-header h1 {

        font-size: 20px;
    }

    .cart-header img {

        width: 60px;
        height: 60px;
    }

    
    .cart-customer-product-container {

        background-color: lightgray;
        display: flex;
        flex-direction: row;
        width: 90%;
        overflow: scroll ;
        justify-content: space-evenly;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        align-items: center;
        
    }


}

/*  Desktops Styles */
@media only screen and (min-width: 851px) and (max-width: 1750px) {

    .cart-header-container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid black;
        width: 100%;
        align-items: center;
        margin: 0 auto;
    }

    .cart-header {
        
        align-items: center;
        padding: 0;
        width: 50%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .cart-header h1 {

        font-size: 20px;
    }

    .cart-header img {

        width: 150px;
        height: 150px;
    }

    
    .cart-customer-product-container {

        background-color: lightgray;
        display: flex;
        flex-direction: row;
        width: 90%;
        overflow: scroll ;
        justify-content: space-evenly;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        align-items: center;
        
    }


}

/*-------------------------------------------
            Checkout
----------------------------------------------*/

.checkout-form-error-container {

    background-color: lightgray; 
    color: red;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 3%;
}

.checkout-main-container {

    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10% 0;
    justify-content: center;
    align-items: center;

}

.checkout-container {

    display: flex;
    flex-direction: column;
    width: 80%;
}

.checkout-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid black;
    
}

.checkout-body-container {

    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}

.chechout-billing-form-container {

    display: flex;
    flex-direction: column;
    width: 50%;
}

.checkout-body-form-container {
    
    display: flex;
    flex-direction: row;
    width: 100%;

}

.checkout-form-element-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    
}

.checkout-input {

    width: 300px;
    height: 30px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid gray;

}

.checkout-select {

    width: 300px;
    height: 30px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid gray;

}

.checkbox-form-label {

    display: flex;
    justify-content: center;
    width: 40%;
    margin: auto;
    align-items: center;
}

.checkbox-form-input {

    width: 70%;
    font-size: 14px;

}

.checkout-check-box {

    width: 30px;
    height: 30px;
    border-radius: 5px;
}

/* Checkout - right side */

.checkout-billing-summary-container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    
}



.checkout-billing-info {


    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    

}

.billing-total {

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bold;
    background-color: lightgrey;
}


.checkout-shipping-toggle-switch-container {

    display: flex;
    flex-direction: column;
}

.checkout-button-container {

    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.checkout-button-cancel {
    background-color: lightgrey;
    color: black;
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 50px;
}

.checkout-button-pay {

    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 50px;


}

/* Mobile Styles */

/* Iphone promax*/

@media only screen and (max-width: 850px) {

    .checkout-main-container {

        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10% 0;
        justify-content: center;
        align-items: center;
    
    }

    .checkout-container {

        display: flex;
        flex-direction: column;
        width: 100%;
    }
    

    .checkout-header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        align-items: center;
        margin: 0 auto;
        border-bottom: 1px solid black;
        
    }

    .cart-header {
        
        align-items: center;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        

    }

    .cart-header h1 {

        font-size: 20px;
    }

    .cart-header img {

        width: 60px;
        height: 60px;
    }

    .checkout-body-form-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .chechout-billing-form-container {

        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .checkout-input {
        width: 250px;
        height: 30px;
        margin: auto;
        border-radius: 5px;
        border: 1px solid gray;
    }

    /* Checkout - right side */

.checkout-billing-summary-container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    
}

.checkout-select {

    width: 250px;
    height: 30px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid gray;

}

.checkbox-form-label {

    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
    align-items: center;
}

.checkbox-form-input {

    background-color: chocolate;
    width: 50%;
    font-size: 12px;
}



}

/* ----------------------------------------
            Order 
 ------------------------------------------*/

 .Main-order-container {

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: fixed;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 90%;
    z-index: 9999;
 }

 .order-container {

    background-color: lightgrey;
    width: 90%;
    border-radius: 15px;
 }

 .order-description-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .order-progress-image-container {

    display: flex;
    justify-content: center;
    
 }
 .order-links-container {

    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
 }

 .order-button-container {

    
    display: flex;
    justify-content: center;
    padding: 4% 0;
 }

 .order-button-continue-shopping {

    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    height: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
 }

 /*----------------------------------------
                Customer Order
    --------------------------------------*/

    .customer-order-header-container {

    
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }

    .customer-order-body-container {

        
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-bottom: 1px solid black;


    }

    .customer-order-detail-address-container {

        
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .customer-order-item-container {

        display: flex;
        flex-direction: column;
        background-color: lightgrey;
        width: 80%;
        margin: 0 auto;
    }
/*--------------------------------------------
                Footer
----------------------------------------------*/

.app-footer-container {
    
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;

    /* Adjust other styles as needed */
}

.copyright-container {
    text-align: center;
}

/*  Desktops Styles */
@media only screen and (min-width: 851px) and (max-width: 1750px) {
    /* Your tablet-specific CSS rules here */

    .copyright-container p{

        font-size: 30px;

    }
}




/*------------------------------------------------------------------------------------------------
                                        Animations 
--------------------------------------------------------------------------------------------*/

/* Slide from top*/ /*

.slide-from-top {

    animation: slideInFromTop 3s ease-in-out;


}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
} */


/* Slide from left */ /*
.slide-from-left {
    animation: slideInFromLeft 1.5s ease-in-out;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

*/
 
