
    .modal-container {


        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 95%;
        background-color: white;
        z-index: 9999;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add box shadow */


    }

    .product-modal-container {

        display: flex;
        margin:  auto;
        width: 90%;
        height: 90%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    .close-button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%
    }

    .add-to-cart-button {

        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-radius: 10px;
        color: white;
        border: none;
        width: 100px;
        height: 50px;
    }

    .close-button {

        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-radius: 10px;
        color: white;
        border: none;
        width: 80px;
        height: 30px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, and color */
        transition: transform 0.1s ease; 
        
    }

    .close-button:active {
        transform: scale(1.1); /* Scales up the button to 110% of its original size */
    }

    .product-modal-header-container {

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }

    .unbranded-club-Logo-container {

        padding: 0 5%;

    }

    .product-modal-information-container {

        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .product-description-container {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 40%;
    }

    .product-image {
        width: 500px;
        height: 500px;
    }

    .product-size-container , .product-qty-container{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        background-color: aquamarine;
    }

    

    .qty-dropdown {
        width: 40%;
    }

    .product-button-container {

        display: flex;
        flex-direction: row;
        background-color: blue;
        justify-content: space-between;
        width: 80%;


    }

    /* -----------------------------------------------------------
                    Toast
    ---------------------------------------------------------------*/

    .toast {
        z-index: 9999;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: lightgray;
        color: black;
        padding: 10px;
        border-radius: 10px;
        width: 500px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
      }

      .toast-button-container {

        display: flex;
        margin: auto;
        justify-content: center;
        
      }

      .toast-close-button {
        background-color: black;
        color: white;
        border: none;
        border-radius: 5px;
        width: 50px;
        height: 25px;
      }

      .toast-tick-img {

        width: 30px;
        height: 30px;
      }

      @media only screen and (max-width: 850px) {

        .unbranded-club-logo-black {

            width: 100px;
            height: 100px;
            padding: 8% 0;
        }

        .product-modal-header-container {

            padding: 1% 0;
        }

        .unbranded-club-Logo-container h1{

            font-size: 14px;

        }

        .unbranded-club-Logo-container {
            margin: auto;
        }

        .product-modal-container {

            display: flex;
            margin:  auto;
            width: 90%;
            height: 90%;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
    
        }

        .product-modal-information-container {

        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }



    .unbranded-club-Logo-container {

        padding: 0 5%;
        width: 100%;
        display: flex;
    }

    .product-image-container {
        margin: 0 auto;
    }

    .product-description-container {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        margin: auto 0;
        overflow: scroll;

    }

 

   

    

        

        .toast {

            z-index: 9999;
            position: fixed;
            bottom: 10%;
            right: 10%;
            color: black;
            padding: 10px;
            border-radius: 10px;
            width: 350px;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
          }

          .toast-button-container {

            display: flex;
            margin: auto;
            justify-content: center;
            align-items: center;
            width: 90%;
            
          }

        


      }

    